@page "/report"
@rendermode InteractiveServer
@attribute [Authorize]
@inject IServiceScopeFactory ServiceScopeFactory
@using Bluewater.Server.Helpers
@using Bluewater.UseCases.Payrolls
@using Bluewater.UseCases.Payrolls.List
@using MediatR
@inject IMediator Mediator
@inject IDialogService DialogService
@using Bluewater.Server.Global;
@inject IGlobalService GlobalService

@using System.Globalization;
@using System.IO;
@using System.Text;


<PageTitle>Reports</PageTitle>

<FluentDialogProvider/>

<h3>Reports</h3>
<FluentDataGrid Id="shiftsGrid" Items="@PayrollSummaries">
    <PropertyColumn Title="Payroll Date" Property="@(c => c!.Date)" Format="MMMM-dd" Align="Align.Start" />
    <PropertyColumn Title="Count" Property="@(c => c!.Count)" Align="Align.Center" />
    <PropertyColumn Title="Total Service Charge" Property="@(c => c!.TotalServiceCharge.ToString("N2"))" Align="Align.Center" />
    <PropertyColumn Title="Total Absences" Property="@(c => c!.TotalAbsences.ToString("N2"))" Align="Align.Center" />
    <PropertyColumn Title="Total Leave" Property="@(c => c!.TotalLeaves.ToString("N2"))" Align="Align.Center" />
    <PropertyColumn Title="Total Undertime" Property="@(c => c!.TotalUndertimes.ToString("N2"))" Align="Align.Center" />
    <PropertyColumn Title="Total Overbreak" Property="@(c => c!.TotalOverbreak.ToString("N2"))" Align="Align.Center" />
    <PropertyColumn Title="Total Tax Deductions" Property="@(c => c!.TotalTaxDeductions.ToString("N2"))" Align="Align.Center" />   
    <PropertyColumn Title="Total Net Amount" Property="@(c => c!.TotalNetAmount.ToString("N2"))" Align="Align.Center" />         
    <TemplateColumn Title="Actions" Align="@Align.End">
        <FluentButton Appearance=Appearance.Outline aria-label="View item" IconEnd="@(new Icons.Regular.Size20.ArrowExport())" OnClick="@(async() => await ViewPayrollAsync(context))">Export</FluentButton>
    </TemplateColumn>
</FluentDataGrid>

@if (isBusy)
{
    <div class="overlay">
        <FluentProgressRing />
    </div>
}
@code {
    private bool isBusy = false;
    private IQueryable<PayrollSummaryDTO> PayrollSummaries { get; set; } = default!;
    @* private IQueryable<PayrollDTO> Payrolls { get; set; } = default!; *@

    protected override async Task OnInitializedAsync()
    {
        try{
            isBusy = true;
            await LoadGroupedPayrollAsync();
        }
        catch (Exception)
        {
            throw;
        }
        finally{
            isBusy = false;
        }
    }

    private async Task LoadGroupedPayrollAsync() {
        try
        {
            await Task.Delay(19);
            using (var scope = ServiceScopeFactory.CreateScope())
            {
                var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                var result = await mediator.Send(new ListGroupedPayrollQuery(null, null));
                if (result.IsSuccess)
                    PayrollSummaries = result.Value.AsQueryable();
            }
        }
        catch (Exception)
        {
            throw;
        }        
    }

    private async Task ViewPayrollAsync(PayrollSummaryDTO context) {
        try 
        {
            var dialog = await DialogService.ShowConfirmationAsync($"Are you sure you want to generate reports for this {context.Date.ToString("MMM-dd")} payroll?", "Yes", "No", "Export");
            var conf = await dialog.Result;
            if (conf.Cancelled) return;

            isBusy = true;
            var (startDate, endDate) = GlobalService.GetStartDateAndEndDateOfPayslip(context.Date);
            using (var scope = ServiceScopeFactory.CreateScope())
            {
                var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                var result = await mediator.Send(new ListPayrollQuery(null, null, null, startDate, endDate));
                if (result.IsSuccess) {
                    var payrolls = result.Value.ToList();
                    var fileName = $"payroll_{startDate.ToString("MMM-dd-yy")}_to_{endDate.ToString("MMM-dd-yy")}";
                    CsvUtility.ExportPayrollToExcel($"{fileName}.xlsx", payrolls);
                    await DialogService.ShowInfoAsync($"Exported {fileName}.xlsx to Download folder.", "Export");
                }
            }
        }
        catch (Exception) {
            throw;
        }
        finally {
            isBusy = false;
        }
    }
}
