@page "/timesheet"
@rendermode InteractiveServer

@using Bluewater.Server.Global
@using Bluewater.UseCases.Timesheets
@using Bluewater.UseCases.Timesheets.Create
@using Bluewater.UseCases.Timesheets.List
@using Bluewater.UseCases.Timesheets.Update
@using MediatR
@inject IServiceScopeFactory ServiceScopeFactory
@inject IMediator Mediator
@inject IGlobalService GlobalService
@inject IDialogService DialogService

<PageTitle>Timesheet</PageTitle>

<h3>Timesheet</h3>
<FluentGrid>
    <FluentGridItem xs="4">
        <FluentStack HorizontalGap="20" HorizontalAlignment="HorizontalAlignment.Left" VerticalAlignment="VerticalAlignment.Center" Orientation="Orientation.Horizontal">            
            <FluentButton IconStart="@(new Icons.Regular.Size16.ChevronLeft())" Appearance="Appearance.Accent" OnClick="@(async() => await LoadTimesheetAsync(searchDate = searchDate.AddDays(-15)))"/>
            <h5 style="margin: 0; vertical-align: middle;">from @startDate.ToString("MMM-dd") to @endDate.ToString("MMM-dd")</h5>
            <FluentButton IconStart="@(new Icons.Regular.Size16.ChevronRight())" Appearance="Appearance.Accent" OnClick="@(async() => await LoadTimesheetAsync(searchDate = searchDate.AddDays(15)))"/>
        </FluentStack>
    </FluentGridItem>
    <FluentGridItem xs="8">
        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="20" HorizontalAlignment="HorizontalAlignment.Right" VerticalAlignment="VerticalAlignment.Top">
            <FluentLabel Style="margin-top: 0px;"><strong>Employee: @EmployeeTimesheets?.Name</strong></FluentLabel>
            <FluentLabel>Department: @EmployeeTimesheets?.Department</FluentLabel>
            <FluentLabel>Section: @EmployeeTimesheets?.Section</FluentLabel>
            <FluentLabel Style="margin-bottom: 0px;">Charging: @EmployeeTimesheets?.Charging</FluentLabel>
        </FluentStack>
    </FluentGridItem>
</FluentGrid>



<FluentSearch Autofocus=true @onchange="@(async(args) => await HandleEmployeeFilter(args))" @bind-Value=nameFilter @bind-Value:after="HandleClear" Placeholder="Employee name..." Style="width: 100%;" />

<FluentDataGrid Items="@Timesheets" TGridItem=TimesheetInfo>
    <PropertyColumn Title="Date" Property="@(p => p.EntryDate)" Format="MMM-dd" Sortable="true"/>
    <PropertyColumn Title="Day of Week" Property="@(p => p.EntryDate)" Format="dddd" />
    <TemplateColumn Title="Time in #1">
        <FluentTimePicker Value="@context!.TimeIn1" ValueChanged="@(e => context!.TimeIn1 = context!.EntryDate?.ToDateTime(ToTimeOnly(e)))" />
    </TemplateColumn>
    <TemplateColumn Title="Time out #1">
        <FluentTimePicker Value="@context!.TimeOut1" ValueChanged="@(e => context!.TimeOut1 = context!.EntryDate?.ToDateTime(ToTimeOnly(e)))" />
    </TemplateColumn>
    <TemplateColumn Title="Time in #2">
        <FluentTimePicker Value="@context!.TimeIn2" ValueChanged="@(e => context!.TimeIn2 = context!.EntryDate?.ToDateTime(ToTimeOnly(e)))" />
    </TemplateColumn>
    <TemplateColumn Title="Time out #2">
        <FluentTimePicker Value="@context!.TimeOut2" ValueChanged="@(e => context!.TimeOut2 = context!.EntryDate?.ToDateTime(ToTimeOnly(e)))" />
    </TemplateColumn>    
    <TemplateColumn Title="Actions" Align="@Align.End">
        <FluentButton aria-label="Save item" IconEnd="@(new Icons.Regular.Size16.Save())" OnClick="@(async() => await SaveTimesheetAsync(context))"/>
    </TemplateColumn>    
</FluentDataGrid>

<FluentDialogProvider/>

@if (isBusy)
{
    <div class="overlay">
        <FluentProgressRing />
    </div>
}

@code{

    private bool isBusy = false;
    private DateTime searchDate = DateTime.Now;
    private DateOnly startDate, endDate;
    private EmployeeTimesheetDTO EmployeeTimesheets = default!;
    private IQueryable<TimesheetInfo> Timesheets = default!;
    string nameFilter = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(10);
        var (_startDate, _endDate) = GlobalService.GetStartDateAndEndDateOfPayslip(DateOnly.FromDateTime(searchDate));
        startDate = _startDate;
        endDate = _endDate;
    }

    async Task LoadTimesheetAsync(DateTime date)
    {
        if(string.IsNullOrEmpty(nameFilter)) return;

        var (_startDate, _endDate) = GlobalService.GetStartDateAndEndDateOfPayslip(DateOnly.FromDateTime(date));
        startDate = _startDate;
        endDate = _endDate;

        using (var scope = ServiceScopeFactory.CreateScope())
        {
            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
            var result = await mediator.Send(new ListTimesheetQuery(null, null, nameFilter, _startDate, _endDate));
            if (result.IsSuccess) {
                EmployeeTimesheets = result.Value;
                Timesheets = EmployeeTimesheets.Timesheets.AsQueryable();
            }
        }
    }

    private async Task HandleEmployeeFilter(ChangeEventArgs args)
    {
        if (args.Value is string value){
            nameFilter = value;
            await LoadTimesheetAsync(searchDate);
        }
    }

    private void HandleClear()
    {
        if (string.IsNullOrWhiteSpace(nameFilter))
            nameFilter = string.Empty;
    }

    private TimeOnly ToTimeOnly(DateTime? dateTime)
    {
        return dateTime.HasValue ? TimeOnly.FromDateTime(dateTime.Value) : default;
    }

    private async Task AllowEditTimesheetAsync(TimesheetInfo context)
    {
        var dialog = await DialogService.ShowConfirmationAsync($"Are you sure you want to edit a locked daily time record for {context.EntryDate?.ToString("MMMM - dd, dddd")}?", "Yes", "No", "Edit");
        var conf = await dialog.Result;
        if (conf.Cancelled) return;  

        context.IsEdited = true;
    }

    private async Task SaveTimesheetAsync(TimesheetInfo context) {
        var dialog = await DialogService.ShowConfirmationAsync($"Are you sure you want to override daily time record for {context.EntryDate?.ToString("MMMM - dd, dddd")}?", "Yes", "No", "Save");
        var conf = await dialog.Result;
        if (conf.Cancelled) return; 

        if(context.TimesheetId == Guid.Empty) {
            // create new timesheet
            using (var scope = ServiceScopeFactory.CreateScope())
            {
                var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                var result = await mediator.Send(new CreateTimesheetCommand(EmployeeTimesheets.EmployeeId, context.TimeIn1, context.TimeOut1, context.TimeIn2, context.TimeOut2, context!.EntryDate));
                if (result.IsSuccess) {
                    context.IsEdited = false;
                }
            }            
        }
        else {
            // update existing timesheet
            using (var scope = ServiceScopeFactory.CreateScope())
            {
                var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                var result = await mediator.Send(new UpdateTimesheetCommand(context.TimesheetId, EmployeeTimesheets.EmployeeId, context.TimeIn1, context.TimeOut1, context.TimeIn2, context.TimeOut2, context!.EntryDate, isLocked: true));
                if (result.IsSuccess) {
                    context.IsEdited = false;
                }
            }
        }
    }
}