@page "/schedule"
@rendermode InteractiveServer

@using Bluewater.Server.Helpers
@using Bluewater.Server.Components.Pages.Schedule
@using Bluewater.Server.Global
@using Bluewater.UseCases.Schedules
@using Bluewater.UseCases.Schedules.Create
@using Bluewater.UseCases.Schedules.Delete
@using Bluewater.UseCases.Schedules.List
@using Bluewater.UseCases.Schedules.Update
@using Bluewater.UseCases.Shifts
@using MediatR
@inject IServiceScopeFactory ServiceScopeFactory
@inject IMediator Mediator
@inject IGlobalService GlobalService
@inject IDialogService DialogService

<FluentDialogProvider/>
<FluentTooltipProvider />

<PageTitle>Schedules</PageTitle>

<h3>Schedules</h3>


<FluentInputFile @ref="@scheduleFileUploader" DragDropZoneVisible="false" Mode="InputFileMode.SaveToTemporaryFolder" Multiple="false" 
    AnchorId="ScheduleImportButton" MaximumFileSize="@(100 * 1024 * 1024)" Accept=".csv"
    OnProgressChange="@(e =>
        {
            progressPercent = e.ProgressPercent; 
            progressTitle = e.ProgressTitle;
        })"
    OnCompleted="@ImportSchedulesAsync" />

<div style="display: flex; justify-content: space-between; align-items: center;">
    <FluentStack HorizontalGap="20" HorizontalAlignment="HorizontalAlignment.Left" VerticalAlignment="VerticalAlignment.Center">
        <FluentButton IconStart="@(new Icons.Regular.Size16.ChevronLeft())" Appearance="Appearance.Accent" OnClick="@(async() => await LoadScheduleAsync(searchDate = searchDate.AddDays(-7)))"/>
        <h5 style="margin: 0; vertical-align: middle;">from @startDate.ToString("MMM-dd") to @endDate.ToString("MMM-dd")</h5>
        <FluentButton IconStart="@(new Icons.Regular.Size16.ChevronRight())" Appearance="Appearance.Accent" OnClick="@(async() => await LoadScheduleAsync(searchDate = searchDate.AddDays(7)))"/>
    </FluentStack>
    <div>
        @* <FluentButton Id="ScheduleImportButton" IconStart="@(new Icons.Regular.Size16.ArrowImport())" Appearance="Appearance.Outline" style="margin-right: 8px;">Import</FluentButton> *@
    </div>
</div>


<FluentDataGrid Items="@FilteredItems" Pagination="@pagination"
    Style="height: 550px;overflow:auto;"
    GridTemplateColumns="0.6fr 1fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.3fr">

    <PropertyColumn Title="Barcode" Property="@(p => p.Barcode)" Sortable="true">
        <ColumnOptions>
            <div class="search-box">
                <FluentSearch Autofocus=true @bind-Value=barcodeFilter @oninput="HandleUsernameFilter" @bind-Value:after="HandleBarcodeClear" Placeholder="Barcode..." Style="width: 100%;" Label="Filter" />
            </div>
        </ColumnOptions>
    </PropertyColumn>    
    <PropertyColumn Title="Employee" Property="@(p => p.Name)" Style="vertical-align: bottom;" Sortable="true">
        <ColumnOptions>
            <div class="search-box">
                <FluentSearch Autofocus=true @bind-Value=nameFilter @oninput="HandleEmployeeFilter" @bind-Value:after="HandleClear" Placeholder="Employee name..." Style="width: 100%;" Label="Filter" />
            </div>
        </ColumnOptions>        
    </PropertyColumn>


    @foreach(var day in Enumerable.Range(0, 7))
    {
        <TemplateColumn Title="@GetColumnTitle(day)">
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                @if(context.Shifts[day].IsDefault){
                    <FluentIcon Value="@(new Icons.Filled.Size16.Circle())" />
                }
                else{
                    <FluentIcon Value="@(new Icons.Regular.Size16.Circle())" />
                }
                <FluentLabel id="@GetSelectedShiftID(context, day)">@(GetSelectedShiftName(context, day))</FluentLabel>
                <FluentTooltip Anchor="@GetSelectedShiftID(context, day)" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Top Delay=200>@GetSelectedShiftNameAndDescription(context,day)</FluentTooltip>
            </FluentStack>
        </TemplateColumn>
    }
    <TemplateColumn Title="Edit" Align="@Align.End">
        <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size20.Edit())" OnClick="@(async() => await EditScheduleAsync(context))"/>
    </TemplateColumn>
</FluentDataGrid>

<FluentPaginator State="@pagination" />

@if (isBusy)
{
    <div class="overlay">
        <FluentProgressRing />
    </div>
}

@code{
    private bool isBusy = false;
    public IQueryable<EmployeeScheduleDTO> EmployeeSchedules { get; set; } = default!;
    private DateTime searchDate = DateTime.Now;
    private DateOnly startDate;
    private DateOnly endDate;
    private List<ShiftDTO> shifts = new();
    string barcodeFilter = string.Empty;
    string nameFilter = string.Empty;

    int? progressPercent;
    string? progressTitle;
    FluentInputFileEventArgs[] Files = Array.Empty<FluentInputFileEventArgs>();
    FluentInputFile? scheduleFileUploader = default!;

    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    IQueryable<EmployeeScheduleDTO>? FilteredItems
    {
        get
        {
            var result = EmployeeSchedules;
            if (result is not null && !string.IsNullOrEmpty(nameFilter))
                result = result.Where(c => c.Name.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));
            else if (result is not null && !string.IsNullOrEmpty(barcodeFilter))
                result = result.Where(c => c.Barcode.Contains(barcodeFilter, StringComparison.CurrentCultureIgnoreCase));

            return result;
        }
    }

    private bool _isInitialized;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if(!_isInitialized) {
                isBusy = true;
                await LoadScheduleAsync(searchDate);
                shifts = GlobalService.Shifts.ToList() ?? new List<ShiftDTO>();
                StateHasChanged();
                _isInitialized = true;
            }
        }
        catch (Exception)
        {
            throw;
        }
        finally
        {
            isBusy = false;
        }
    }

    async Task LoadScheduleAsync(DateTime date)
    {
        try 
        {
            isBusy = true;
            await Task.Delay(10);
            var (_startDate, _endDate) = GlobalService.GetStartDateAndEndDateOfWeekByDate(date);
            startDate = _startDate;
            endDate = _endDate;
            using (var scope = ServiceScopeFactory.CreateScope())
            {
                var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                var result = await mediator.Send(new ListScheduleQuery(null, null, _startDate, _endDate));
                if (result.IsSuccess)
                    EmployeeSchedules = result.Value.AsQueryable();
            }
        }
        finally
        {
            isBusy = false;
        }
    }

    private string GetColumnTitle(int day)
    {
        DateTime today = searchDate;
        DateTime startOfWeek = today.AddDays(-(int)today.DayOfWeek);
        DateTime targetDate = startOfWeek.AddDays(day);

        return $"{targetDate.ToString("MM/dd")} ({targetDate.DayOfWeek.ToString()[..3]})";
    }    

    private bool IsShiftSelected(EmployeeScheduleDTO employee, int day, ShiftDTO shift)
    {
        return employee.Shifts.Count > day && employee.Shifts[day].Shift!.Id == shift.Id;
    }

    private ShiftDTO? GetSelectedShift(EmployeeScheduleDTO employee, int day)
    {        
        return employee.Shifts.Count > day ? employee.Shifts[day].Shift : null;
    }

    private string? GetSelectedShiftName(EmployeeScheduleDTO employee, int day)
    {
        if(employee.Shifts.Count > day)
            return $"{employee.Shifts[day]?.Shift?.Name}";
        return null;
    }    

    private  string? GetSelectedShiftNameAndDescription(EmployeeScheduleDTO employee, int day)
    {
        if(employee.Shifts.Count > day && employee.Shifts[day]?.Shift != null){
            var o = employee.Shifts[day]?.Shift;
            if(!string.IsNullOrEmpty(o?.Name) && o?.ShiftStartTime != null && o?.ShiftBreakTime != null && o?.ShiftBreakEndTime != null && o?.ShiftEndTime != null)
                return $"{o?.Name}   :   [{o?.ShiftStartTime!.Value.ToString("h:mm:ss tt")} - {o?.ShiftBreakTime!.Value.ToString("h:mm:ss tt")}]    [{o?.ShiftBreakEndTime!.Value.ToString("h:mm:ss tt")} - {o?.ShiftEndTime!.Value.ToString("h:mm:ss tt")}]    ({o?.BreakHours} break hrs)";
        }
        return null;
    }


    private string GetSelectedShiftID(EmployeeScheduleDTO employee, int day)
    {
        return $"{employee.EmployeeId}_{day}";
    }     

    private List<ShiftDTO> ListOfShifts()
    {
        return new List<ShiftDTO>(shifts);
    }

    private async Task EditScheduleAsync(EmployeeScheduleDTO employeeSchedule)
    {
        var anySchedId = employeeSchedule.Shifts.Any(x => x.ScheduleId != Guid.Empty);

        var sched = new ScheduleFormDTO(
            employeeSchedule.EmployeeId,
            employeeSchedule.Name,
            employeeSchedule.Shifts[0] ?? null,
            employeeSchedule.Shifts[1] ?? null,
            employeeSchedule.Shifts[2] ?? null,
            employeeSchedule.Shifts[3] ?? null,
            employeeSchedule.Shifts[4] ?? null,
            employeeSchedule.Shifts[5] ?? null,
            employeeSchedule.Shifts[6] ?? null
        );

        IDialogReference _dialog = await DialogService.ShowPanelAsync<ScheduleForm>(sched, new DialogParameters<ScheduleFormDTO>
        {
            Title = anySchedId ? "Update schedule" : "Create Schedule",
            Alignment = HorizontalAlignment.Right,
            Content = sched,
            Modal = false,
            ShowDismiss = true,
            PrimaryAction = anySchedId ? "Update" : "Create",
            SecondaryAction = "Cancel",
            Width = "50%",
        });

        DialogResult result = await _dialog.Result;
        await HandleUpdatePanelAsync(result);        
    }

    private async Task HandleUpdatePanelAsync(DialogResult result)
    {
        try {
            isBusy = true;
            if (result.Cancelled) return;
            if (result.Data is not null)
            {
                var e = result.Data as ScheduleFormDTO;
                if(e != null)
                {
                    await SetupDaysSchedulesAsync(e);   
                    await LoadScheduleAsync(searchDate);
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
        finally {
            isBusy = false;
        }
    }

    // to update - this can be placed in a list of days
    async Task SetupDaysSchedulesAsync(ScheduleFormDTO e)
    {
        #region SUNDAY
        // evaluate sunday schedule
        // if there's an existing schedule, check if it's default or not
        if(e.SundayShift!.IsUpdated) {
            if(e.SundayShift!.ScheduleId != Guid.Empty) { 
                // check first if the selected shift is not null. if null, means the schedule is cleared, then delete the schedule
                if(e.SundayShift!.Shift == null) {
                    if(!e.SundayShift!.IsDefault) {
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new DeleteScheduleCommand(e.SundayShift.ScheduleId));
                        }
                    }
                }
                else{
                    if(e.SundayShift!.IsDefault) { // if default is true, then create an override
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.SundayShift!.Shift!.Id, e.SundayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                    else { // if default is false, then update the schedule
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new UpdateScheduleCommand(e.SundayShift.ScheduleId, e.EmployeeId, e.SundayShift!.Shift!.Id, e.SundayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                }
            }
            else { // if schedule id is empty, then create a new schedule
                if(e.SundayShift!.Shift != null) {
                    using (var scope = ServiceScopeFactory.CreateScope())
                    {
                        var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                        var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.SundayShift!.Shift!.Id, e.SundayShift!.ScheduleDate, IsDefault: false));
                    }
                }
            }
        }
        #endregion
    
        #region MONDAY
        // evaluate monday schedule
        // if there's an existing schedule, check if it's default or not
        if(e.MondayShift!.IsUpdated) {
            if(e.MondayShift!.ScheduleId != Guid.Empty) { 
                // check first if the selected shift is not null. if null, means the schedule is cleared, then delete the schedule
                if(e.MondayShift!.Shift == null) {
                    if(!e.MondayShift!.IsDefault) {
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new DeleteScheduleCommand(e.MondayShift.ScheduleId));
                        }
                    }
                }
                else{
                    if(e.MondayShift!.IsDefault) { // if default is true, then create an override
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.MondayShift!.Shift!.Id, e.MondayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                    else { // if default is false, then update the schedule
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new UpdateScheduleCommand(e.MondayShift.ScheduleId, e.EmployeeId, e.MondayShift!.Shift!.Id, e.MondayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                }
            }
            else { // if schedule id is empty, then create a new schedule
                if(e.MondayShift!.Shift != null) {
                    using (var scope = ServiceScopeFactory.CreateScope())
                    {
                        var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                        var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.MondayShift!.Shift!.Id, e.MondayShift!.ScheduleDate, IsDefault: false));
                    }
                }
            }
        }
        #endregion

        #region TUESDAY 
        // evaluate tuesday schedule
        // if there's an existing schedule, check if it's default or not
        if(e.TuesdayShift!.IsUpdated ){
            if(e.TuesdayShift!.ScheduleId != Guid.Empty) { 
                // check first if the selected shift is not null. if null, means the schedule is cleared, then delete the schedule
                if(e.TuesdayShift!.Shift == null) {
                    if(!e.TuesdayShift!.IsDefault) {
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new DeleteScheduleCommand(e.TuesdayShift.ScheduleId));
                        }
                    }
                }
                else{
                    if(e.TuesdayShift!.IsDefault) { // if default is true, then create an override
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.TuesdayShift!.Shift!.Id, e.TuesdayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                    else { // if default is false, then update the schedule
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new UpdateScheduleCommand(e.TuesdayShift.ScheduleId, e.EmployeeId, e.TuesdayShift!.Shift!.Id, e.TuesdayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                }
            }
            else { // if schedule id is empty, then create a new schedule
                if(e.TuesdayShift!.Shift != null) {
                    using (var scope = ServiceScopeFactory.CreateScope())
                    {
                        var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                        var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.TuesdayShift!.Shift!.Id, e.TuesdayShift!.ScheduleDate, IsDefault: false));
                    }
                }
            }
        }
        #endregion

        #region WEDNESDAY
        // evaluate wednesday schedule
        // if there's an existing schedule, check if it's default or not
        if(e.WednesdayShift!.IsUpdated) {   
            if(e.WednesdayShift!.ScheduleId != Guid.Empty) { 
                // check first if the selected shift is not null. if null, means the schedule is cleared, then delete the schedule
                if(e.WednesdayShift!.Shift == null) {
                    if(!e.WednesdayShift!.IsDefault) {
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new DeleteScheduleCommand(e.WednesdayShift.ScheduleId));
                        }
                    }
                }
                else{
                    if(e.WednesdayShift!.IsDefault) { // if default is true, then create an override
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.WednesdayShift!.Shift!.Id, e.WednesdayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                    else { // if default is false, then update the schedule
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new UpdateScheduleCommand(e.WednesdayShift.ScheduleId, e.EmployeeId, e.WednesdayShift!.Shift!.Id, e.WednesdayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                }
            }
            else { // if schedule id is empty, then create a new schedule
            if(e.WednesdayShift!.Shift != null) {
                using (var scope = ServiceScopeFactory.CreateScope())
                {
                    var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                    var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.WednesdayShift!.Shift!.Id, e.WednesdayShift!.ScheduleDate, IsDefault: false));
                }
            }
        }
        }
        #endregion

        #region THURSDAY
        // evaluate thursday schedule
        // if there's an existing schedule, check if it's default or not
        if(e.ThursdayShift!.IsUpdated) {
            if(e.ThursdayShift!.ScheduleId != Guid.Empty) { 
                // check first if the selected shift is not null. if null, means the schedule is cleared, then delete the schedule
                if(e.ThursdayShift!.Shift == null) {
                    if(!e.ThursdayShift!.IsDefault) {
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new DeleteScheduleCommand(e.ThursdayShift.ScheduleId));
                        }
                    }
                }
                else{
                    if(e.ThursdayShift!.IsDefault) { // if default is true, then create an override
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.ThursdayShift!.Shift!.Id, e.ThursdayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                    else { // if default is false, then update the schedule
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new UpdateScheduleCommand(e.ThursdayShift.ScheduleId, e.EmployeeId, e.ThursdayShift!.Shift!.Id, e.ThursdayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                }
            }
            else { // if schedule id is empty, then create a new schedule
                if(e.ThursdayShift!.Shift != null) {
                    using (var scope = ServiceScopeFactory.CreateScope())
                    {
                        var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                        var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.ThursdayShift!.Shift!.Id, e.ThursdayShift!.ScheduleDate, IsDefault: false));
                    }
                }
            }
        }
        #endregion

        #region FRIDAY
        // evaluate friday schedule
        // if there's an existing schedule, check if it's default or not
        if(e.FridayShift!.IsUpdated) {
            if(e.FridayShift!.ScheduleId != Guid.Empty) { 
                // check first if the selected shift is not null. if null, means the schedule is cleared, then delete the schedule
                if(e.FridayShift!.Shift == null) {
                    if(!e.FridayShift!.IsDefault) { 
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new DeleteScheduleCommand(e.FridayShift.ScheduleId));
                        }
                    }
                }
                else{
                    if(e.FridayShift!.IsDefault) { // if default is true, then create an override
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.FridayShift!.Shift!.Id, e.FridayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                    else { // if default is false, then update the schedule
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new UpdateScheduleCommand(e.FridayShift.ScheduleId, e.EmployeeId, e.FridayShift!.Shift!.Id, e.FridayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                }
            }
            else { // if schedule id is empty, then create a new schedule
            if(e.FridayShift!.Shift != null) {
                using (var scope = ServiceScopeFactory.CreateScope())
                {
                    var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                    var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.FridayShift!.Shift!.Id, e.FridayShift!.ScheduleDate, IsDefault: false));
                }
            }
        }
        }
        #endregion

        #region SATURDAY
        // evaluate saturday schedule
        // if there's an existing schedule, check if it's default or not
        if(e.SaturdayShift!.IsUpdated) {
            if(e.SaturdayShift!.ScheduleId != Guid.Empty) { 
                // check first if the selected shift is not null. if null, means the schedule is cleared, then delete the schedule
                if(e.SaturdayShift!.Shift == null) {
                    if(!e.SaturdayShift!.IsDefault) {
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new DeleteScheduleCommand(e.SaturdayShift.ScheduleId));
                        }
                    }
                }
                else{
                    if(e.SaturdayShift!.IsDefault) { // if default is true, then create an override
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.SaturdayShift!.Shift!.Id, e.SaturdayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                    else { // if default is false, then update the schedule
                        using (var scope = ServiceScopeFactory.CreateScope())
                        {
                            var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                            var ret = await mediator.Send(new UpdateScheduleCommand(e.SaturdayShift.ScheduleId, e.EmployeeId, e.SaturdayShift!.Shift!.Id, e.SaturdayShift!.ScheduleDate, IsDefault: false));
                        }
                    }
                }
            }
            else { // if schedule id is empty, then create a new schedule
            if(e.SaturdayShift!.Shift != null) {
                using (var scope = ServiceScopeFactory.CreateScope())
                {
                    var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                    var ret = await mediator.Send(new CreateScheduleCommand(e.EmployeeId, e.SaturdayShift!.Shift!.Id, e.SaturdayShift!.ScheduleDate, IsDefault: false));
                }
            }
        }
        }
        #endregion
    }

    private void HandleEmployeeFilter(ChangeEventArgs args)
    {
        if (args.Value is string value)
            nameFilter = value;
    }

    private void HandleClear()
    {
        if (string.IsNullOrWhiteSpace(nameFilter))
            nameFilter = string.Empty;
    }

    private void HandleUsernameFilter(ChangeEventArgs args) {
        if(args.Value is string value)
            barcodeFilter = value;
    }

    private void HandleBarcodeClear() {
        if (string.IsNullOrWhiteSpace(barcodeFilter))
            barcodeFilter = string.Empty;
    }

    async Task ImportSchedulesAsync(IEnumerable<FluentInputFileEventArgs> files) {
        try {
            var dialog = await DialogService.ShowConfirmationAsync($"Are you sure you want to import this Schedule file?", "Yes", "No", "Import");
            var conf = await dialog.Result;
            if (conf.Cancelled) return;

            isBusy = true;
            await Task.Delay(10);

            Files = files.ToArray();
            progressPercent = scheduleFileUploader!.ProgressPercent;
            progressTitle = scheduleFileUploader!.ProgressTitle;

            var file = Files.FirstOrDefault();
            if(file != null) {
                @* var ret = await CsvUtility.ImportFromCSV<ScheduleImportDTO>(file.LocalFile!.FullName);
                if(ret.Item1 != null) {
                    foreach(var sched in ret.Item1) {
                        // create schedules.
                        using (var scope = ServiceScopeFactory.CreateScope()) {

                        }
                    }
                    await LoadScheduleAsync(searchDate);
                }
                else 
                    await DialogService.ShowErrorAsync(ret.Item2, "Import Error"); *@
            }
        }
        catch (Exception) {

        }
        finally {
            isBusy = false;
        }
    }        
}